[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
# mySociety Django project
argparse = "==1.2.1"
csscompressor = "==0.9.4"
django-autoslug = "==1.9.7"
django-htmlmin = "*"
django-markitup = "==4.0.0"
django-pipeline = "==1.6.14"
libsass = "==0.12.3"
olefile = "==0.44"
psycopg2 = "==2.8.5"
six = "==1.10.0"
feedparser = "==6.0.8"
django-import-export = "==2.0.2"
# Heroku
waitress = "==1.4.3"
whitenoise = "==5.0.1"
dj-database-url = "==0.5.0"
# Bluetail
django-pgviews-redux = "==0.6.0"
# Silvereye
libcoveweb = {editable = true, ref = "v0.14.0", git = "https://github.com/OpenDataServices/lib-cove-web.git"}
# Used for scripts to gather and process Contracts Finder and BODS data
ocdskit = "*"
pandas = "==1.0.5"
elasticsearch = "==7.8.0"
django-storages = "==1.9.1"
django-pipeline-csscompressor = "==0.1"
Django = "==2.2.13"
Markdown = "==2.6.8"
Pillow = "==7.1.2"
PyYAML = "==4.2b1"
elasticsearch-dsl = "==7.2.1"
smart-open = "==2.1.0"
Faker = "==4.1.1"
rfc6266 = "*"

[dev-packages]

[requires]
python_version = "3.6"
