{% load i18n %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3 fixed-top">
    <div class="container-md">
        <a class="navbar-brand" href="{% url 'home' %}">
            {% include "bluetail_and_silvereye_shared/icons/shield.html" with classes="icon mr-1" %}
            {% trans "Ministry of Efficiency" %}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <button class="nav-link btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% trans "Tenders" %}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <h6 class="dropdown-header">{% trans "Filtered By Dataset" %}</h6>
                        <a class="dropdown-item" href="{% url 'ocds-list' %}">{% trans "All" %}</a>
                        <a class="dropdown-item" href="{% url 'ocds-list' %}?ocid_prefix=ocds-123abc-">{% trans "Prototype" %}</a>
                        <a class="dropdown-item" href="{% url 'ocds-list' %}?ocid_prefix=ocds-b5fd17raw-">{% trans "Contracts Finder unlinked" %}</a>
                        <a class="dropdown-item" href="{% url 'ocds-list' %}?ocid_prefix=ocds-b5fd17suppliermatch-">{% trans "Contracts Finder with linked suppliers" %}</a>
                        <a class="dropdown-item" href="{% url 'ocds-list' %}?ocid_prefix=ocds-b5fd17bodsmatch-">{% trans "Contracts Finder with beneficial owners" %}</a>

                        <h6 class="dropdown-header">{% trans "Filtered By Flag" %}</h6>
                        <a class="dropdown-item" href="{% url 'ocds-list' %}?has_flags=true">{% trans "Any Flag" %}</a>
                        <a class="dropdown-item" href="{% url 'ocds-list' %}?has_flags=true&flag=person_id_matches_cabinet_minister">{% trans "Beneficial Owner matches Cabinet Minister" %}</a>
                        <a class="dropdown-item" href="{% url 'ocds-list' %}?has_flags=true&flag=company_in_multiple_applications_to_tender">{% trans "Company linked to multiple applications to a tender" %}</a>
                        <a class="dropdown-item" href="{% url 'ocds-list' %}?has_flags=true&flag=person_in_multiple_applications_to_tender">{% trans "Person linked to multiple applications to a tender" %}</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        {% trans "Spending analysis" %}
                    </a>
                </li>
                <li class="nav-item dropdown pl-2">
                    <form id="language_form" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}">
                        <div class="form-row">
                            <div class="col-auto">
                            <select name="language" class="custom-select mr-sm-2"  onchange="language_form.submit()">
                                {% get_current_language as LANGUAGE_CODE %}
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                    <option id="language" value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                        {{ language.name_local }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
